@import "../../../variables";

.overlay {
  display: none;
  &--show {
    align-items: center;
    background-color: $overlay;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
}
