@import "./variables";

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background-color: $border;
  color: $text;
  font-family: $font-family-body;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px $primary;
    -webkit-box-shadow: inset 0 0 1px $primary;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    height: 4px;
    width: 5px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    height: 4px;
    width: 1px;
    background-color: $primary;
  }
}

html {
  font-size: $font-size-base;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-headings;
}